// @import './node_modules/bourbon/app/assets/stylesheets/_bourbon';
// @import './node_modules/bourbon-neat/core/_neat';

// @import './node_modules/node-neat/node_modules/bourbon-neat/core/_neat';
@import 'options/variables';

$medium-screen-big: '(min-width: 737px)';
$medium-screen-little: '(max-width: 1199px)';
$desktop-up: '(min-width: 1200px)';

h1 {

    color: $testy;
    font-size: 22px !important;

}

body {

}

main {

	margin: 0 auto;
    width: 90%;

    div {

        &.one {}

        &.two {}

        border: 1px solid red;

    }



}

label {
	cursor: pointer;
}

.online {
	background-color: green;
}

.offline {
	background-color: red;
}
