@import 'options/variables';

@include box-sizing;

h1 {

	@include media(mobile) {
		font-size: 102px !important;
	}

	color: $testy;
	font-size: 22px !important;

}

main {

	// @include grid-collapse;

	@include media(mobile) {
		width: 100%;
	}

	@include media(desktop) {
		background: blue;
		width: 1000px;
	}

	margin: 0 auto;
	width: 90%;

	div {

		&.one {

			@include media(tablet) {

			}

		}

		&.two {

			@include media(tablet) {

			}

		}



		border: 1px solid red;

	}



}

label {
	cursor: pointer;
}

.online {
	background-color: green;
}

.offline {
	background-color: red;
}
